<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                Universal Containers has enabled Social Accounts and contacts.
                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                When a sales representative accesses a contact within salesforce, the representative is unable to see detailed information from the contacts Facebook profile (e.g. contacts wall postings). 
                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                What is preventing the sales representative from accessing detailed information on the contacts Facebook page?
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            The fields configured by Universal Containers administrator on the contact page layout are missing
                        </label>
                    </li>
                    <li class="correct">
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            The information shown is based on the sales representative's connection level with the contact on Facebook.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            The link to the Facebook profile is not configured with the administrator password to access detailed information.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Universal Containers must purchase the Facebook license to access public information for its users.
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
</ul>