@model ExamViewModel
@{
    var configuration = ViewContext.HttpContext.RequestServices.GetService<IConfiguration>();
    var pageBaseCanonicalUrl = configuration.GetValue(typeof(string), "PageBaseCanonicalUrl")?.ToString();
}
<div class="k-block k-info-colored" style="text-align: center;">
    <div class="k-header k-info-colored">
        <h1>
            @Model.PageH1
        </h1>
    </div>
    <h2>
        @Model.PageDescription
    </h2>
</div>
@{
    Model.ShowUdemy = false;
    for (int i = 0; i < Model.Questions.Count; i++)
    {

        if (i % 4 == 0 && i > 0)
        {
            @*<div class="center">
                    @Html.Raw(Html.GetAddsenseAdd(AdsenseType.ResponsiveAdSquare))
                </div>*@
            @*<div class="center">
                    @Html.Raw(Html.GetAddsenseAdd(AdsenseType.ResponsiveAdHorizontal))
                </div>*@
            <div class="center m2">
                <div class="center inline">
                    @Html.Raw(Html.GetAddsenseAdd(AdsenseType.Fixed_300_250))
                </div>
                <div class="center inline">
                    @Html.Raw(Html.GetAddsenseAdd(AdsenseType.Fixed_300_250))
                </div>
            </div>
        }
        else if (i % 2 == 0 && i > 0)
        {
            <div class="center m2">
                <div class="center inline">
                    @Html.Raw(Html.GetAddsenseAdd(AdsenseType.Fixed_336_280))
                </div>
                <div class="center inline">
                    @Html.Raw(Html.GetAddsenseAdd(AdsenseType.Fixed_336_280))
                </div>
            </div>
            @*<div class="center">
                    @Html.Raw(Html.GetAddsenseAdd(AdsenseType.ResponsiveAdHorizontal))
                </div>*@

        }

        Model.Questions[i].ShowAdsInQuestion = false;
        <partial name="~/views/shared/question.cshtml" model="@Model.Questions[i]" />
    }
}
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "BreadcrumbList",
    "itemListElement": [{
    "@@type": "ListItem",
    "position": 1,
    "name": "@Model?.Provider?.ToLowerInvariant()",
    "item": "@($"{pageBaseCanonicalUrl}/{Model?.Provider?.ToLowerInvariant()}")"
    },{
    "@@type": "ListItem",
    "position": 2,
    "name": "@Model?.Code?.ToLowerInvariant()",
    "item": "@($"{pageBaseCanonicalUrl}/{Model?.Provider?.ToLowerInvariant()}/{Model?.Code?.ToLowerInvariant()}")"
    }]
    }
</script>