@model ExamViewModel

<div class="k-block k-info-colored" style="text-align: center;">
    <div class="k-header k-info-colored">
        <h1>
            @Model.PageH1
        </h1>
    </div>
    <h2>
        @Model.PageDescription
    </h2>
</div>
@{
    Model.ShowUdemy = false;
    for (int i = 0; i < Model.Questions.Count; i++)
    {

        if (i % 4 == 0 && i > 0)
        {
            <div class="center">
                @Html.Raw(Html.GetAddsenseAdd(AdsenseType.Fixed_336_280))
            </div>
        }
        else if (i % 2 == 0 && i > 0)
        {
            <div class="center">
                @Html.Raw(Html.GetAddsenseAdd(AdsenseType.ResponsiveAdHorizontal))
            </div>
        }

        Model.Questions[i].ShowAdsInQuestion = false;
        <partial name="~/views/shared/question.cshtml" model="@Model.Questions[i]" />
    }
}
