<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (ViewData["description"] != null)
    {
        <meta name="description" content="@ViewData["description"]" />
    }
    else
    {
        <meta name="description" content="Community powered free exam answers with explanations." />
    }
    @if (ViewData["keywords"] != null)
    {
        <meta name="keywords" content="@ViewData["keywords"]" />
    }
    else
    {
        <meta name="keywords" content="free, exam, question, answer, explanation, az-100" />
    }
    @if (ViewData["title"] != null)
    {
        <title>@(ViewData["title"] + " | Exam-Answer")</title>
    }
    else
    {
        <title>Exam-Answer</title>
    }

    <link href="https://wwww.exam-answer.com@(Context.Request.Path)" rel="canonical" />

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common-fiori.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.fiori.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.fiori.mobile.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43988280-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-43988280-9');
    </script>
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c95682cfb6af900122ecbcc&product=social-ab' async='async'></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
</head>
<body style="        display: none">
    <header>
        <ul id="menu">
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                Microsoft
                <ul>
                    <li>
                        <a href="~/microsoft/az-100">AZ-100</a>
                        <ul>
                            @{
                                for (int i = 1; i <= 61; i++)
                                {
                                    <li>
                                        <a class="nav-link text-dark" href="~/microsoft/az-100/question@(i)">
                                            @($"Question {i}")
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </header>
    <div>
        <main role="main">
            <br />
            <partial name="_PrevNextPartial" />
            <br />
            <partial name="_ProgressPartial" />
            <br />
            @RenderBody()
            <br />
            <partial name="_PrevNextPartial" />
        </main>
    </div>

    <br />

    <footer>
        @*<div class="container">
                Exam - Answer<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
    </footer>

    <partial name="_JsScripts" />
</body>
</html>
