@model QuestionViewModel
<h1>@Model.Exam.Provider / @Model.Exam.Code / Question @(Model.Order)</h1>
<partial name="_PrevNextPartial" />
<br />
<partial name="_ProgressPartial" />
<br />

<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        @if (Model.Contents?.Count >= 1)
        {
            <div>
                
                    <h2>
                        @{
                            var lines = Model.Contents.FirstOrDefault()?.Text?.Split(Environment.NewLine);
                        }
                        @for (int i = 0; i < lines.Length; i++)
                        {
                            var line = lines[i];
                            @line
                            if (i != lines.Length - 1)
                            {
                                <br />
                            }
                        }
                    </h2>
                
                @{
                    var lastContent = Model.Contents.Skip(1).ToList();
                }
                @foreach (var content in lastContent)
                {
                    <p>
                        @{
                            var lines2 = content.Text.Split(Environment.NewLine);
                        }
                        @for (int i = 0; i < lines2.Length; i++)
                        {
                            var line = lines2[i];

                            @line

                            if (i != lines2.Length - 1)
                            {
                                <br />
                            }
                        }
                    </p>
                }
            </div>
        }
    </li>
    @if (Model.QuestionType == QuestionType.CheckBox)
    {
        <li class="k-state-active">
            Answers
            <div>
                <br />
                    <ul class="fieldlist">
                        @foreach (var answer in Model.Answers)
                        {

                            if (answer.IsCorrect == true)
                            {
                                <li class="correct">
                                    <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                                    <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                                        @(answer.Text)
                                    </label>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                                    <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                                        @(answer.Text)
                                    </label>
                                </li>
                            }
                        }
                    </ul>
                    <br />
            </div>
        </li>
    }
    @if (Model.QuestionType == QuestionType.RadioButon)
    {
        <li class="k-state-active">
            Answers
            <div>
                <br />
                    <ul class="fieldlist">
                        @foreach (var answer in Model.Answers)
                        {
                            if (answer.IsCorrect == true)
                            {
                                <li class="correct">
                                    <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                                    <label class="k-radio-label" for="@(Html.GetNextId(true))">
                                        @(Html.Raw(answer.Text))
                                    </label>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                                    <label class="k-radio-label" for="@(Html.GetNextId(true))">
                                        @(Html.Raw(answer.Text))
                                    </label>
                                </li>
                            }
                        }
                    </ul>
                    <br />
            </div>
        </li>
    }
    @if (Model.QuestionType == QuestionType.CustomHtml)
    {
        <li class="k-state-active">
            Answers
            <div>
                <p>
                    @foreach (var answer in Model.Answers)
                    {
                        @(Html.Raw(answer.Text))
                    }
                </p>
            </div>
        </li>
    }
    @if (Model.Explanations?.Count > 0)
    {
        <li>
            Explanation
            <div>
                @foreach (var explanation in Model.Explanations)
                {
                    <p>
                        @explanation.Text
                    </p>
                }
            </div>
        </li>
    }
    @if (Model.References?.Count > 0)
    {
        <li>
            References
            <div>
                @foreach (var reference in Model.References)
                {
                    <p>
                        <a href="@reference.Url" target="_blank" rel="noopener">@reference.Text</a>
                    </p>
                }
            </div>
        </li>
    }
</ul>
<br />