<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                Northern Trail Outfitters (NTO) has over 20,000 Accounts and 75,000 Contacts.
                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                NTO wants to ensure the customer data is accurate and that the customers are still currently at their respective companies.
                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                How can this be confirmed?
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Use a data cleansing tool and the Stay-in-Touch feature of Salesforce to email contacts.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Create a workflow rule to mass email the contacts and capture any email bounces.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Use a data enrichment tool to verify account and contact data is up-to-date.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Create a workflow rule for the account and contact owner to confirm contact data.
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
</ul>