<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                The shipping department at Universal Containers is responsible for sending product samples as part of the sales process.
                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                When an opportunity moves to the "sampling" stage, Universal Containers wants an automatic email sent to the shipping department listing the products on the opportunity.
                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                How can this requirement be met using a workflow email?
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li class="correct">
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Create it on the opportunity using a Visualforce email template.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Create it on the opportunity product using a Visualforce email template.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Create it on the opportunity product using a Visualforce email template.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Create it on the opportunity product using an HTML email template.
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
</ul>