<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                What data should the sales management team consider when developing the new sales territories?
                @Html.Raw(Model.H1CloseTag)
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li>
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Distance between the customer headquarters and their sales representatives.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Number of currencies needed to support each sales territory.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Attributes need to segment and categorize customers.
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Average number of customers managed by a sales representative.
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
</ul>