<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                You back up all Azure-based virtual machines (VMs) to a Recovery Services vault. One of these VMs is a Windows Server 2016 domain member server named app1 that hosts an internally developed line of business (LOB) web application.
            </p>
            <p>
                A developer informs you that she needs to review three-month-old log files stored on app1. You need to retrieve these files as efficiently as possible.
            </p>
            <p>
                What should you do?
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Download the appropriate virtual hard disk (VHD) files from the Recovery Services vault to your administrative workstation.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Retrieve the files from the appropriate backed-up virtual hard disks (VHDs) by using Azure Storage Explorer.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Mount the virtual hard disks (VHDs) from the relevant VM backup as drives on your administrative workstation.
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Make a Remote Desktop Protocol (RDP) connection to app1 and use the Previous Versions feature to restore the requested log files.
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                To retrieve the old log files as efficiently as possible, you should use Azure File Recovery to mount the backed-up VHDs as drives on your administrative workstation. The process works like this:
            </p>
            <p>
                * In the Recovery Services vault, start File Recovery.
                <br />
                * Select the appropriate recovery point.
                <br />
                * Download and run the provided PowerShell script. The script mounts the operating system and data VHDs as local drives on your administrative system.
                <br />
                * Retrieve the necessary files from the app1 file system.
                <br />
                * Disconnect the network drive mappings.
            </p>
            <p>
                You should not download the appropriate VHD files from the Recovery Services vault to your administrative workstation. Azure File Recovery makes this step unnecessary. Likewise, you should not have to restore the VHDs or the entire VM to an alternate location in order to recover individual files from its file system.
            </p>
            <p>
                You should not retrieve the files from the appropriate backed-up VHDs by using Azure Storage Explorer. Storage Explorer is a cross-platform desktop application that makes it easy to interact with Azure storage accounts. Recovery Services vaults do not expose their contents to Storage Explorer.
            </p>
            <p>
                You should not make an RDP connection to app1 and use the Previous Versions feature to restore the requested log files. First, you need to work as efficiently as possible. Second, there is no guarantee that the server's current run state has three months' worth of log files.
            </p>
        </div>
    </li>
</ul>