<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                You deploy a line of business (LOB) application. All resources that are part of the LOB application are deployed in a resource group named APP-RG.
                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                The resources that are part of the LOB application were added in different phases.
                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                You need to export the current configuration of the resources in APP-RG to an ARM template. You will later use this template for deploying the LOB application infrastructure in different environments for testing or development purposes.
            </p>
            <p>
                Choose all that apply:
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li>
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            You need to export the ARM template from the latest deployment.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Each deployment contains only the resources that have been added in that deployment.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            The parameters file contains the values used during the deployment.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            The template contains needed scripts for deploying the template.
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                You do not need to export the ARM template from the latest deployment. In this scenario, the LOB application was deployed in several phases. The latest deployment will export only the latest resources added to the application. If you want to export the ARM template with all needed resources for the LOB application, you need to export the ARM template from the resource group.
            </p>
            <p>
                Each deployment contains only the resources that have been added in that deployment. When you export an ARM template from a deployment, the template only contains the resources created during that deployment.
            </p>
            <p>
                The parameters file contains the values used during the deployment. The parameters file is a JSON file that stores all the parameters used in the ARM template. You can use this file to reuse the template in different deployments, just changing the values of the parameters file. If you use this file in templates created from resource groups, you need to make significant edits to the template before you can effectively use the parameters file.
            </p>
            <p>
                The template contains needed scripts for deploying the template. When you download an ARM template from a deployment or a resource group, the downloaded package contains seven files: the ARM template, the parameters file, an Azure CLI script, a PowerShell script, a Ruby script and a .NET class for deploying the template.
            </p>
        </div>
    </li>
    <li>
        References
        <div>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-export-template" target="_blank" rel="noopener" tabindex="190">Export an Azure Resource Manager template from existing resources</a>
            </p>
        </div>
    </li>
</ul>