<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                Your company has an Azure subscription with some virtual machines (VMs) deployed. One of these VMs is used by the development team for testing purposes.
                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                You receive a call from the development team stating that they are not able to access the VM. After doing some troubleshooting and resetting the Remote Desktop Protocol (RDP) configuration, you decide to redeploy the VM.
                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                You need to use PowerShell to redeploy the VM.
            </p>
            <p>
                Which cmdlet should you use?
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li class="correct">
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Set-AzureRmVM
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            New-AzureRmVMConfig
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Remove-AzureRmVM
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Restart-AzureRmVM
                        </label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">
                            Update-AzureRmVM
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                You should use the Set-AzureRmVM cmdlet with the -Redeploy switch. You need to provide the resource group name and the VM name that you want to redeploy.
            </p>
            <p>
                You should not use the Update-AzureRmVM cmdlet. You use this cmdlet for updating the state of a VM to the values stored in a VM object that you can usually get using the Get-Azure RmVM cmdlet.
            </p>
            <p>
                You should not use the Restart-AzureRmVM cmdlet. This cmdlet will restart the VM. Restarting a VM does not redeploy it to a new host.
            </p>
            <p>
                You should not use the New-AzureRmVMConfig cmdlet. This cmdlet is intended for a creating new VM object configuration that you can use with other cmdlets.
            </p>
            <p>
                You should not use the Remove-AzureRmVM cmdlet. You typically use this cmdlet when you want to remove a VM from Azure.
            </p>
        </div>
    </li>
    <li>
        References
        <div>
            <p>
                <a href="https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/set-azurermvm" target="_blank" rel="noopener" tabindex="190">Set-AzureRmVM</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/restart-azurermvm" target="_blank" rel="noopener" tabindex="190">Restart-AzureRmVM</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/remove-azurermvm" target="_blank" rel="noopener" tabindex="190">Remove-AzureRmVM</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/update-azurermvm" target="_blank" rel="noopener" tabindex="190">Update-AzureRmVM</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/powershell/module/azurerm.compute/new-azurermvmconfig" target="_blank" rel="noopener" tabindex="190">New-AzureRmVMConfig</a>
            </p>
        </div>
    </li>
</ul>