@model QuestionViewModel
<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id<i class="fas fa-question" style="text-align:right"></i></span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                You have an Azure resource group named RG1. RG1 contains a Linux virtual machine (VM) named VM1.                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                You need to automate the deployment of 20 additional Linux VMs. The new VMs should be based upon VM1's configuration.                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                Solution: From the virtual machine's Automation script blade, you click Deploy.
            </p>
            <p>
                Does this solution meet the goal?
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li class="correct">
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">Yes</label>
                    </li>
                    <li>
                        <input type="radio" name="group" id="@(Html.GetNextId())" class="k-radio">
                        <label class="k-radio-label" for="@(Html.GetNextId(true))">No</label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                The solution meets the goal. Every deployment in Azure is described in a template in JavaScript Object Notation (JSON) format. You can access the underlying template from the Automation script blade of the VM resource, and can then deploy multiple new instances of a resource by modifying the template parameters. Optionally, you can store customized Azure Resource Manager templates directly in the Azure portal from the Templates blade.
            </p>
        </div>
    </li>
    <li>
        References
        <div>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy-portal" target="_blank" rel="noopener" tabindex="190">Deploy resources with Resource Manager templates and Azure portal</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/virtual-machines/windows/download-template" target="_blank" rel="noopener" tabindex="190">Download the template for a VM</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/virtual-machines/windows/ps-template" target="_blank" rel="noopener" tabindex="190">Create a Windows virtual machine from a Resource Manager template</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles" target="_blank" rel="noopener">Administrator role permissions in Azure Active Directory</a>
            </p>
        </div>
    </li>
</ul>