<ul class="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Question @Model?.Id</span>
        <div>
            <p>
                @Html.Raw(Model.H1OpenTag)
                Your company's Microsoft Azure infrastructure team asks you for help in designing a traffic control solution for their deployment.
                @Html.Raw(Model.H1CloseTag)
            </p>
            <p>
                @Html.Raw(Model.H2OpenTag)
                The deployment consists of a single virtual network (VNet) that has the following topology:
                @Html.Raw(Model.H2CloseTag)
            </p>
            <p>
                * edge subnet: Linux-based network virtual appliance (NVA) running enterprise firewall software with IP forwarding enabled
                <br />
                * data1 subnet: 4 Windows Server virtual machines (VMs)
                <br />
                * data2 subnet: 4 Ubuntu Linux VMs
            </p>
            <p>
                You need to recommend a solution to the infrastructure team so that all outbound Azure VM traffic must pass through the NVA on the edge subnet.
            </p>
            <p>
                What two actions should you perform? Each correct answer presents part of the solution.
            </p>
        </div>
    </li>
    <li class="k-state-active">
        Answers
        <div>
            <p>
                <ul class="fieldlist">
                    <li>
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Create a network security group (NSG) with an outbound rule.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Create a route table with a next-hop IP address.
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Deploy two internal load balancers between the three subnets.
                        </label>
                    </li>
                    <li class="correct">
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Bind the resource to each subnet.
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="@(Html.GetNextId())" class="k-checkbox">
                        <label class="k-checkbox-label" for="@(Html.GetNextId(true))">
                            Bind the resource to each VM virtual network interface card (vNIC).
                        </label>
                    </li>
                </ul>
            </p>
        </div>
    </li>
    <li>
        Explanation
        <div>
            <p>
                You should create a route table with a next-hop IP address. The route table resource allows you to override the Azure-provided system routes that automatically route traffic into, within, and out of an Azure VNet. A route table contains a "next hop" default route that Azure uses when VMs within a subnet attempt to reach resources beyond that subnet. The available next hop types are:
            </p>
            <p>
                * Virtual appliance
                <br />
                * Internet
                <br />
                * Virtual network
                <br />
                * Virtual network gateway
            </p>
            <p>
                You should also bind the route table resource to each subnet. In this scenario, you would create a route table that defines a next hop to your NVA, and then bind the single route table to every subnet in the VNet.
            </p>
            <p>
                You should not create an NSG with an outbound rule. NSGs are software firewall resources used to selectively allow or block inbound and/or outbound traffic. You cannot define next hop routing with NSGs.
            </p>
            <p>
                You should not bind the resource to each VM vNIC. Route tables can be bound only to the subnet resource. By contrast, NSGs can be bound to subnet and/or vNIC resources.
            </p>
            <p>
                You should not deploy two internal load balancers between the three subnets. Load balancers are used to distribute user requests equitably among two or more back-end VMs and are not used to enforce next hop routing logic.
            </p>
        </div>
    </li>
    <li>
        References
        <div>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/virtual-network/tutorial-create-route-table-portal" target="_blank" rel="noopener" tabindex="190">Tutorial: Route network traffic with a route table using the Azure portal</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/windows-server/networking/sdn/manage/use-network-virtual-appliances-on-a-vn" target="_blank" rel="noopener" tabindex="190">Use network virtual appliances on a virtual network</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/virtual-network/security-overview" target="_blank" rel="noopener" tabindex="190">Security groups</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-overview" target="_blank" rel="noopener" tabindex="190">What is Azure Load Balancer?</a>
            </p>
            <p>
                <a href="https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-udr-overview" target="_blank" rel="noopener" tabindex="190">Virtual network traffic routing</a>
            </p>
        </div>
    </li>
</ul>